@import url("https://fonts.googleapis.com/css2?family=Mali&display=swap");

.container {
  margin: 10px 20px;
}

svg {
  display: block !important;
}

input {
  margin: 8px 0;
}
.app-body{
justify-content: center;
justify-items: center;
align-items: center;
}
label {
  font-weight: 700;
}

.title {
  margin-top: 10px;
}
.app-header{
  text-align: center;
  margin-top: 0px;
  font-family: 'Times New Roman', Times, serif;
 
  font-size:  25px;
color: rgb(73, 9, 9);
  margin-top: 50px;
}

.app-p{
 font-size: 16px;
  text-align: center;
  margin-top: -18px;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
}
.label-body{
  padding: 0px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-left: 28%;
  text-shadow: 1px 1px 1px #616161;
}

.field h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  
  text-shadow: 2px 2px 2px #616161;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(60deg, rgb(161, 144, 16), rgba(248, 154, 2, 0.884), rgb(229, 39, 18));
  font-family: 'Azeret Mono', monospace;
  box-sizing: none;
  border: none;
  justify-content: center;
  align-items: center;
  outline: none;
  color: white !important;
}

label,
h1 {
  color: white !important;
}
::placeholder{
  margin-left: 10px;
}
.language-select{
  margin-left: 10%;
  margin-top: -60px;
  margin-right: 0px;
  border: none;
  outline: none;
  height: 40px;
  width: 81%
 
}
.author{
  font-size: 15px;
   text-align: center;
   margin-top: -20px;
   color: #616161;
 }
 
.input-text input{
  margin-left: 10%;
  margin-right: 0px;
color: #000;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100px;
  outline: none;
  border: none;
  width: 80.5%
  
}

.button{
  margin-left: 10%;
  border-radius: 0px;
  margin-top: 0px;
  background-image: linear-gradient(30deg, rgb(161, 144, 16),  rgb(229, 39, 18), rgba(248, 154, 2, 0.884));
  color: rgb(250, 243, 243);
  border: none;
  outline: none;
  font-size: 20px;
  outline: none;
  margin-right: 0px;
  height: 40px;
  width: 81%
 
}
.TextArea{
  background-color: #fff;
}
.output-text, TextArea{
  margin-left: 5%;
  margin-right: 0px;
  height: 200px;
  border: none;

  border-bottom-right-radius: 40px;
  color: #000;
  outline: none;
  width: 90.5%
  
}
.responsive{
  width: 100%;
}
h1 {
  z-index: 20;
  position: relative;
}

.container {
  margin: 0px;
  padding: 10px 20px;
}

.opts {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.opt {
  margin: 3px 5px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 1px 3px;
  cursor: pointer;
}

.opt.selected {
  background-color: #f3fadc;
  color: black;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.wrapper .flower-right {
  position: absolute;
  height: 100px;
  top: 20px;
  right: 0px;
  z-index: 1;
}

.wrapper .flower-left {
  position: absolute;
  height: 100px;
  left: 0px;
  top: 20px;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10%;
  z-index: 30;
}

.translate {
  z-index: 20;
  position: relative;
}

.translate h1 {
  position: relative;
  text-shadow: 2px 2px 2px #848484;
  text-align: center;
  background-color: #d3dbb7;
  padding: 20px;
  border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 0px;
}
